@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
/*
    Tweakable Colors
*/
/*$cirrus-color-primary: #5dad9a;*/
/*
    Tweakable Fonts
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Quattrocento+Sans|Teko");
html {
  background: rgba(255, 255, 255, 0.75) url(../img/site/clouds-bg.png) top left repeat-x fixed;
  background-size: auto 50%;
  margin: 0;
  color: #444444;
  font-family: "Open Sans Condensed", sans-serif;
  text-shadow: none; }

body {
  margin: 0;
  position: relative;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  color: #e35c2b;
  text-shadow: none; }

a {
  color: #e35c2b;
  text-decoration: none; }

a:hover {
  color: #e97f58;
  text-decoration: none; }

a.bad-link {
  color: red; }

hr {
  border: none;
  border-top: solid 1px #eee;
  margin: 16px 0; }

.cirrus-color-primary {
  color: #e35c2b !important; }

.cirrus-text-right {
  text-align: right; }

.cirrus-text-center {
  text-align: center; }

.cirrus-text-left {
  text-align: left; }

.cirrus-doc-align,
.cirrus-nav > ul.cirrus-doc-align {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 320px; }

.cirrus-column-50 {
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50%;
  box-sizing: border-box; }

.cirrus-container {
  clear: both;
  padding: 32px;
  margin: 0;
  background: rgba(255, 255, 255, 0.75);
  color: #444444;
  overflow: auto;
  border-top: solid 10px #222;
  border-bottom: solid 10px #222; }

.cirrus-panel {
  clear: both;
  padding: 32px;
  margin: 8px 0;
  background: #f7f7f7;
  color: #444444;
  overflow: auto; }

.cirrus-container h1,
.cirrus-panel h1 {
  font-size: 3em; }

.cirrus-button {
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  background: #e35c2b;
  color: #f4f3f2;
  cursor: pointer; }

.cirrus-button:hover {
  background: #e97f58; }

.cirrus-input {
  border-radius: 4px;
  padding: 8px;
  border: none;
  background: #212e3d;
  color: #dee4ea;
  text-shadow: 1px 1px #000; }

.cirrus-nav,
.cirrus-nav > ul,
.cirrus-nav > ul > li {
  float: none;
  margin: 0;
  padding: 0;
  position: absolute; }

.cirrus-nav {
  overflow: hidden;
  width: 100%; }

.cirrus-nav > .cirrus-nav-content {
  overflow: hidden; }

.cirrus-nav-column {
  float: left;
  width: 50%;
  overflow: hidden; }

.cirrus-sub-nav {
  text-align: center; }

.cirrus-sub-nav ul,
.cirrus-nav > ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.cirrus-sub-nav li,
.cirrus-nav > ul > li {
  list-style: none;
  /*float:left;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.cirrus-sub-nav a, .cirrus-sub-nav h1, .cirrus-sub-nav h2, .cirrus-sub-nav h3, .cirrus-sub-nav h4, .cirrus-sub-nav h5, .cirrus-sub-nav h6 {
  padding: 0px;
  margin: 0;
  display: block;
  color: #f4f3f2; }

h1.cirrus-main-title > a {
  font-size: 72pt;
  color: #222;
  /*padding: 128px 0;*/ }

.cirrus-sub-nav li * {
  padding: 8px;
  font-size: large; }

.cirrus-nav::after {
  clear: both; }

.cirrus-sub-nav {
  background: #c1461a;
  clear: both;
  overflow: hidden; }

.cirrus-primary-highlight {
  background: #d84e1d;
  overflow: hidden; }

.cirrus-primary {
  background: rgba(255, 255, 255, 0.75);
  color: #444444; }

.cirrus-secondary {
  float: left;
  width: 33.3333%;
  background: #f7f7f7;
  color: #444444; }

.cirrus-table {
  width: 100%;
  border-collapse: collapse;
  text-shadow: 1px 1px #000;
  border-radius: 4px;
  overflow: hidden; }

.cirrus-table-head {
  background: rgba(255, 255, 255, 0.75); }

.cirrus-table-foot {
  background: rgba(255, 255, 255, 0.75); }

.cirrus-table-row {
  background: rgba(255, 255, 255, 0.75); }

.cirrus-table-heading {
  padding: 8px; }

.cirrus-table-data {
  padding: 12px 8px; }

.cirrus-table-row:nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.75); }

.cirrus-table-caption {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  text-align: left;
  padding: 16px;
  margin: 0;
  border: solid 1px rgba(255, 255, 255, 0.75); }

.cirrus-table-caption h1, .cirrus-table-caption h2, .cirrus-table-caption h3, .cirrus-table-caption h4, .cirrus-table-caption h5, .cirrus-table-caption h6 {
  margin: 0;
  padding: 0; }

.cirrus-block-right {
  float: right;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50%; }

.cirrus-block-left {
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50%; }

.cirrus-full {
  width: 100%; }

.cirrus-persp-right {
  transform-style: preserve-3d;
  perspective: 1000px;
  padding: 32px; }

.cirrus-persp-right > * {
  transform: translateZ(-100px) rotateY(-25deg);
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5); }

.cirrus-persp-left {
  transform: perspective(60px) rotateY(25deg);
  padding: 32px 0; }

.cirrus-screenshot {
  border-radius: 8px; }

.cirrus-video-box-right {
  /*width: 50%;*/
  box-sizing: border-box;
  padding: 0;
  margin: 1em 0; }

a.cirrus-massive-button,
.cirrus-massive-button {
  font-size: 24px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 16px;
  border-radius: 8px;
  background: #e35c2b;
  color: #f4f3f2;
  margin: 0px;
  display: block;
  text-align: center; }

.cirrus-column-left-padded {
  padding-left: 16px; }

@media (max-width: 720px) {
  .cirrus-block-left {
    float: none; }
  .cirrus-block-right {
    float: none; }
  h1.cirrus-main-title > a {
    font-size: 48px; }
  h1 {
    font-size: 32px !important; }
  .cirrus-column-50 {
    float: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: auto;
    box-sizing: border-box; }
  .cirrus-video-box-right {
    width: 100%;
    box-sizing: border-box;
    padding: 0; } }

/*# sourceMappingURL=app.css.map */